{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Hola Deku</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aliquam odio earum nam, placeat, beatae quisquam illo reprehenderit ipsum ratione repudiandae sit architecto iure? Nemo vero officiis nesciunt veniam odio!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/boku.jpg" alt="Deku" class="img-thumbnail">
    </div>
</div>
{{> footer }}